<header class="mm-header">
    <div class="mm-header__container">
        <a class="mm-header__brand" href="/">Marcus &amp; Millichap</a>
        <nav class="mm-header__nav" aria-label="Primary">
            <ul class="mm-nav">
                <li class="mm-nav__item">
                    <a href="/search" class="mm-nav__link">Search</a>
                </li>
                <li class="mm-nav__item mm-nav__item--has-dropdown" aria-haspopup="true">
                    <button class="mm-nav__link mm-nav__toggle" aria-expanded="false" type="button">Auctions</button>
                    <div class="mm-dropdown" role="menu" aria-label="Auctions">
                        <div class="mm-dropdown__col">
                            <div class="mm-dropdown__title">Search</div>
                            <a class="mm-dropdown__link" href="/auctions/all" role="menuitem">All Auctions</a>
                            <a class="mm-dropdown__link" href="/auctions/ending-soonest" role="menuitem">Ending Soonest</a>
                        </div>
                        <div class="mm-dropdown__col">
                            <div class="mm-dropdown__title">Products</div>
                            <a class="mm-dropdown__link" href="/auction-platform" role="menuitem">Auction Platform</a>
                            <a class="mm-dropdown__link" href="/auction-buy" role="menuitem">Buy With Marcus &amp; Millichap Auction</a>
                            <a class="mm-dropdown__link" href="/auction-sell" role="menuitem">Sell With Marcus &amp; Millichap Auction</a>
                        </div>
                    </div>
                </li>
                <li class="mm-nav__item">
                    <a href="/comps" class="mm-nav__link">Comps</a>
                </li>
                <li class="mm-nav__item">
                    <a href="/intelligence" class="mm-nav__link">Intelligence</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
