@page "/my-listings"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@rendermode InteractiveServer

<PageTitle>My Listings</PageTitle>

<div class="auction-container">
    <h1>My Listings</h1>
    <p>This page is protected and requires you to be logged in.</p>
</div>
